@{
    ViewData["Title"] = "Success";
}

<div class="jumbotron bg-transparent border">
    <h2>Thank you for your purchase @ViewBag.FirstName!</h2>
    <p>Your order has begun processing. Your shipment will arrive within 3-5 business days.</p>
    <a href="/allproducts" class="btn btn-primary">Continue Shopping</a>
</div>